body {
  background-color: #f9e7a6;
  font-family: "Redressed", cursive;
  text-align: center;
}

.mail {
  display: block;
  margin-bottom: 15px;
}

footer {
  text-align: center;
  padding-right: 20px;
  margin-bottom: 200px;
  color: brown;
}
